version: 2
updates:
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: "daily"
    time: "05:00"
  open-pull-requests-limit: 10

- package-ecosystem: docker
  directory: "/.devcontainer/"
  schedule:
    interval: "daily"
    time: "05:00"
  open-pull-requests-limit: 10
  

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: "weekly"
  open-pull-requests-limit: 10
  target-branch: master
