.DS_Store
node_modules
package-lock.json
/dist
src/components.d.ts


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
