// global main style

// html, body, #app{

// }


[data-theme="dark"] {
    $bg-dark: #3c3c3c;
    $bg-darker: darken($bg-dark, 5%);
    $fg-color: #dedede;
    background-color: darken($bg-dark, 5%) ;
    color: $fg-color !important;
    body {
        background: $bg-darker;
        color: $fg-color;
    }
    .card {
        border-color: $bg-dark;
    }
    .card-body {
        background: $bg-dark;
        color: $fg-color;
    }
    .card-header {
        background: lighten($bg-dark, 5%);
        color: $fg-color;
    }
    .table {
        color: $fg-color;
    }
    .list-group-item {
        color: $fg-color;
        background: $bg-dark;
    }
    // .custom-select {
    //     color: $fg-color;
    //     // background: $bg-dark;
    // }
    .nav-link.active {
        color: $fg-color;
        background: $bg-darker;
    }
    .modal-content {
        color: $fg-color;
        background: $bg-dark;
    }
    .form-control {
        color: $fg-color;
        background: $bg-dark;
    }
    textarea {
        color: $fg-color;
        background: $bg-dark;
    }
}


html.ft-theme-transition,
html.ft-theme-transition *,
html.ft-theme-transition *:before,
html.ft-theme-transition *:after {
    transition:background 750ms linear,
               border-color 750ms linear;
    transition-delay: 0 !important;
}
