// global main style

.dp__theme_dark {
    // Datepicker font size
    --dp-font-size: 0.9rem;
}

.d-flex > * {
    // Fix stupid flexbox bug where the flex items are overflowing the parent div if min-width is not set.
    // mainly appeared on firefox.
    min-width: 0px;
}


.logo-svg {
    background-color: #000000;
}

.text-profit {
    color: $color-profit;
}

.text-loss {
    color: $color-loss;
}

.v-select * {
    font-size: 0.8rem !important;
}

.modal.show {
    // TODO: modal bootstrap fix (???)
    display: block;
}

.btn-primary {
    color: #ffffff !important;
}

.text-bg-primary {
    color: #ffffff !important;
}

.card {
    padding: 0px;
}

.vs__open-indicator {
    transform: none !important;
}

.text-small {
    font-size: 0.8rem;
}

.toast {
    // Colors to match the "alert" styling.
    &.text-bg-danger {
        background-color: rgb(238, 215, 218) !important;
        color: rgb(88, 21, 28) !important;
    }
    &.text-bg-warning {
        background-color: rgb(255, 243, 205) !important;
        color: rgb(102, 77, 3) !important;
    }
    &.text-bg-success {

        background-color: rgb(209, 231, 221) !important;
        color: rgb(10, 54, 34) !important;
    }
}

[data-bs-theme="dark"] {
    $bg-dark: rgb(18, 18, 18);

    $bg-darker: darken($bg-dark, 5%);
    $fg-color: #dedede;

    background-color: darken($bg-dark, 5%);
    color: $fg-color !important;

    body {
        background: $bg-darker;
        color: $fg-color;
    }

    .border {
        border-color: lighten($bg-dark, 40%) !important;
    }

    .card {
        border-color: lighten($bg-dark, 10%);
        background-color: $bg-dark;

    }

    .card-body {
        background: $bg-dark;
        color: $fg-color;
    }

    .card-header {
        background: lighten($bg-dark, 5%);
        color: $fg-color;
    }

    .list-group-item {
        color: $fg-color;
        background: $bg-dark;
    }

    .list-group-item.disabled,
    .list-group-item:disabled {
        color: darken($fg-color, 40%);
        background: $bg-dark;
    }

    // .custom-select {
    //     color: $fg-color;
    //     // background: $bg-dark;
    // }
    .nav-tabs {
        border-bottom: 1px solid lighten($bg-dark, 20%);

        .nav-link {
            color: $primary;

            &:hover {
                border-color: lighten($bg-dark, 5%);
                color: lighten($primary, 10%);
            }
        }
    }

    .nav-link.active {
        color: $fg-color;
        background: $bg-darker;
        border-color: lighten($bg-dark, 20%);
    }

    .modal-content {
        color: $fg-color;
        background: $bg-dark;
    }

    .form-control {
        color: $fg-color;
        background: $bg-dark;
    }

    .popover {
        background: $bg-dark;
        border-color: lighten($bg-dark, 20%);
    }

    .popover-header {
        background: $bg-darker;
    }

    .popover-body {
        color: $fg-color;
    }

    .logo-svg {
        background-color: $fg-color;
    }

    textarea {
        color: $fg-color;
        background: $bg-dark;
    }

    .text-dark {
        color: $fg-color !important;
    }

    .dropdown-menu {
        background-color: lighten($bg-dark, 5%);
        color: $fg-color;
    }

    .dropdown-item {
        color: $fg-color;
    }

    // Styles for searchable select
    .vs__dropdown-toggle, .vs__clear {
        border-color: lighten($bg-dark, 20%);
        color: $fg-color;
        // border: 1px solid $fg-color;
    }

    .style-chooser .vs__search::placeholder,
    .style-chooser .vs__dropdown-toggle,
    .style-chooser .vs__dropdown-menu,
    .vs__dropdown-menu {
        background-color: lighten($bg-dark, 5%);
        color: $fg-color;
    }

    .vs__search,
    .vs__dropdown-option {
        color: $fg-color;
    }

    .vs__open-indicator {
        fill: darken($fg-color, 10%);
    }

    .vs__selected {
        color: $fg-color;
    }

    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .table {
        color: $fg-color;
    }

    .table.b-table>tbody>.selected,
    .table.b-table>tbody>.selected>th,
    .table.b-table>tbody>.selected>td {
        // Table selected cells
        color: $fg-color;
        background: darken($bg-dark, 10%);
    }


    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th,
    .table.b-table>tbody>.selected:hover,
    .table.b-table.table-hover>tbody>tr.selected th:hover {
        // Table selected cells hover
        color: $fg-color;
        background: lighten($bg-dark, 10%);
        --bs-table-hover-bg: #272727;
    }

    .form-select {
        color: $fg-color;
        border-color: lighten($bg-dark, 20%);
        background: $bg-dark;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dedede' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        background-size: 16px 12px;
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
    }

    .toast {
        // Colors to match the "alert" styling.
        background-color: var(--toast-bg-color) !important;

        .toast-header {
            background-color: var(--toast-bg-color-header) !important;
            color: $fg-color;
        }
        &.text-bg-danger {
            --toast-bg-color: rgb(44, 11, 14) !important;
            --toast-bg-color-header:rgb(24, 6, 7) !important;
            color: rgb(234, 134, 143) !important;
        }

        &.text-bg-warning {
            --toast-bg-color: rgb(41, 39, 1) !important;
            --toast-bg-color-header: rgb(29, 27, 1) !important;
                // background-color: rgb(41, 39, 1) !important;
            color: rgb(255, 218, 106) !important;
        }

        &.text-bg-success {

            --toast-bg-color: rgb(5, 27, 17) !important;
            --toast-bg-color-header: rgb(3, 19, 12) !important;
            color: rgb(118, 183, 152) !important;
        }
    }
    .vue-grid-item>.vue-resizable-handle {
        // Stupid workaround to have the Shevron actually show.
        background-color: darken($fg-color, 50%);
    }
}

.vue-grid-item {
    // Fix white corners in vue-grid-item.
    background-color: unset !important;
}

body.ft-theme-transition,
body.ft-theme-transition *,
body.ft-theme-transition *:before,
body.ft-theme-transition *:after {
    transition:
        background 750ms ease-in-out,
        border-color 750ms ease-in-out,
        background-color 750ms ease-in-out,
        ;
    transition-delay: 0 !important;
}

.position-lg-absolute{
    @include media-breakpoint-up(lg){
        position: absolute !important;
    }
}
