// variables created for the project and not overwrite of bootstrap
$fontsize-small: 0.8rem;

:root {
  // default profit loss colors, could be overwriten by setProfitLossColorsCSS
  --color-profit: #12bb7b;
  --color-loss: #ef5350;
}

$color-profit: var(--color-profit);
$color-loss: var(--color-loss);
