
@import 'bootstrap_variables_ovw';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

@import "vue-select/src/scss/vue-select.scss";
@import 'variables';
@import 'styles_ovw';
