// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}


:root {
    // default profit loss colors, could be overwritten by custom style
    --color-profit: #12bb7b;
    --color-loss: #ef5350;

}


@layer components {
    // Base component style overrides
    :root {

        --p-datatable-row-background: unset;
    }

    .ft-dark-theme {
        --p-content-background: unset;
        --p-menu-background: var(--p-surface-900);
    }
}



body.ft-theme-transition,
body.ft-theme-transition *,
body.ft-theme-transition *:before,
body.ft-theme-transition *:after {
    transition:
        background 750ms ease-in-out,
        border-color 750ms ease-in-out,
        background-color 750ms ease-in-out,
    ;
    transition-delay: 0 !important;
}


html {
    // Set the default font size to 14px
    font-size: 14px;
}

.vue-grid-item {
    // Fix white corners in vue-grid-item.
    background-color: unset !important;
}

