name: FreqUI Docker Build

on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    environment:
      name: Production
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm/v6
          - linux/arm/v7
          - linux/arm64

    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Prepare Platform_pair
      run: |
        platform=${{ matrix.platform }}
        echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0

    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Download digests
      uses: actions/download-artifact@v7
      with:
        path: ./dist/
        # Use node-22 build.
        name: freqUI-22

    - name: Build and push Docker image
      id: build
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0
      env:
        DOCKER_BUILD_SUMMARY: false
      with:
        platforms: ${{ matrix.platform }}
        context: .
        file: ./docker/Dockerfile
        tags: ${{ steps.meta.outputs.tags }}
        outputs: type=image,name=freqtradeorg/frequi,push-by-digest=true,name-canonical=true,push=true

    - name: Export digest
      env:
        digest: ${{ steps.build.outputs.digest }}
      run: |
        mkdir -p /tmp/digests
        touch "/tmp/digests/${digest#sha256:}"

    - name: Upload digest
      uses: actions/upload-artifact@v6
      with:
        name: digests-${{ env.PLATFORM_PAIR }}
        path: /tmp/digests/*
        if-no-files-found: error
        retention-days: 1

  docker-merge:
    runs-on: ubuntu-latest
    needs:
      - docker
    environment:
      name: Production
    permissions:
      packages: write

    steps:
    - name: Download digests
      uses: actions/download-artifact@v7
      with:
        path: /tmp/digests
        pattern: digests-*
        merge-multiple: true

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051  # v5.10.0
      with:
        # list of Docker images to use as base name for tags
        images: |
          freqtradeorg/frequi
          ghcr.io/freqtrade/frequi
        # generate Docker tags based on the following events/attributes
        tags: |
           type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
           type=semver,pattern={{version}}
           type=ref,event=branch

    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Create manifest list and push
      working-directory: /tmp/digests
      run: |
        docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
          $(printf 'freqtradeorg/frequi@sha256:%s ' *)

    - name: Inspect image
      env:
        version: ${{ steps.meta.outputs.version }}
      run: |
        docker buildx imagetools inspect freqtradeorg/frequi:${version}
